body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

img {
  margin: 10px;
}

footer p {
  text-align: right;
}

.white {
  color: white;
}